<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310761243324-ib051m7a68omjcejtq280f3hclaobn6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310761243324-ib051m7a68omjcejtq280f3hclaobn6n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310761243324-vhtol2lop4l15275b95adnnm2aeg00q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsvDtuXHh1XjpE9pEqFmMCwf4ZFKgPtFA</string>
	<key>GCM_SENDER_ID</key>
	<string>310761243324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wedig.benefit</string>
	<key>PROJECT_ID</key>
	<string>benefitapp-e8ff2</string>
	<key>STORAGE_BUCKET</key>
	<string>benefitapp-e8ff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310761243324:ios:7aaa6731d8e322623306b9</string>
	<key>DATABASE_URL</key>
	<string>https://benefitapp-e8ff2.firebaseio.com</string>
</dict>
</plist>